@font-face {
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/icomoon.woff?2zfiaf') format('woff');
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: icomoon !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: never;
}
.icon-button-left:before {
  content: '\e900';
}
.icon-button-right:before {
  content: '\e901';
}
.icon-bxs-server:before {
  content: '\e902';
}
.icon-check-circle:before {
  content: '\e903';
}
.icon-facesbook:before {
  content: '\e904';
}
.icon-instagram:before {
  content: '\e905';
}
.icon-jam-check:before {
  content: '\e906';
}
.icon-location:before {
  content: '\e907';
}
.icon-logo:before {
  content: '\e908';
}
.icon-sm-user:before {
  content: '\e909';
}
.icon-star-filled:before {
  content: '\e90a';
}
.icon-twitter:before {
  content: '\e90b';
}
