*,
*:before,
*:after {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  font-family: Rubik, sans-serif;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.taitle-2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}
.plain-text {
  color: #4f5665;
  line-height: 30px;
}
.tiny-text {
  color: #4f5665;
  font-size: 14px;
  line-height: 30px;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.oval-button {
  min-width: 170px;
  min-height: 45px;
  padding: 10px;
  border: 1px solid #f53855;
  border-radius: 50px;
  background-color: white;
  color: #f53838;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.oval-button:hover {
  background-color: #fc000046;
  box-shadow: 0 0 7px #8d0f0f1e;
}
.oval-button:active {
  box-shadow: inset 0 0 7px #5e383815;
}
.oval-button-alt {
  border: none;
  color: black;
}
.rectang-button {
  position: relative;
  z-index: 1;
  min-width: 260px;
  min-height: 60px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f53838;
  box-shadow: 0 20px 20px #f5383859;
  color: #fcffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.rectang-button:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff10;
}
.rectang-button:hover:before {
  width: 100%;
  box-shadow: 0 0 10px #00000046;
}
.rectang-button:active {
  box-shadow: inset 0 0 20px #0000002f;
}
.page-header {
  padding-top: 50px;
}
.main-nav-link {
  display: block;
  padding: 12px 20px;
  color: #4f5665;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.main-nav-link:hover {
  border-radius: 40px;
  box-shadow: 0 0 15px #ff110038;
  color: #dd2013;
}
.main-nav-link:active {
  box-shadow: inset 0 0 10px #ff11000e;
  color: #dd2013;
}
.hero-section {
  padding-top: 120px;
}
.hero-title {
  color: #0b132a;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}
.features-section {
  padding-top: 95px;
}
.info-rectanle {
  min-width: 1140px;
  min-height: 200px;
  padding: 68px 99px;
  border-radius: 10px;
  box-shadow: 0 45px 70px #00000028;
  font-size: 20px;
  line-height: 30px;
}
.bg-ic-info-rectanle {
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #ffecec;
  color: #f53838;
  font-size: 25px;
}
.content-info-retanle {
  padding-left: 42px;
}
.bold-font-info-rectanle {
  color: #0b132a;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.cont-features {
  padding-right: 72px;
  padding-left: 126px;
}
.feutures-holder {
  padding-top: 150px;
}
.stail-check-circle {
  padding-right: 12px;
  color: #2fab73;
}
